*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: #333;

}




.container-icon {
}
.bi {
}
.bi-bag {
}
.container-items {
}
.items {
}
.info-product {
}
.price {
}





